{% form_theme form _self %}
{% trans_default_domain 'hotels' %}

{{ form_start(form, {
    'action': path('app_hotels_index'),
    'attr': {'class': 'mb-4 p-4 flex items-center gap-4 bg-slate-100 text-sm'}
}) }}
    {{ form_widget(form.search, {
        'required': false,
        'attr': {
            'class': 'basis-1/2 border border-slate-200 rounded-sm h-10 px-4 focus:ring-0 focus:outline-none',
            'placeholder': 'index.search'|trans
        }
    }) }}
    <label class="inline-flex items-center gap-2 text-nowrap">
        <span>{{ 'index.order_by'|trans }}</span>
        {{ form_widget(form.orderBy, {
            'required': false,
            'attr': {
                'class': 'border border-slate-200 rounded-sm h-10 px-4 bg-white w-full',
            }
        }) }}
    </label>
    {{ form_widget(form.submit, {
        'label': 'index.search_btn'|trans,
        'attr': {'class': 'bg-sky-500 text-white h-10 px-6 border border-transparent text-white rounded-sm font-medium hover:bg-sky-400'}
    }) }}
    {% if form.vars.value and form.vars.value.search %}
    <a class="text-xs" href="{{ path('app_hotels_index') }}">{{ 'index.reset_form'|trans }}</a>
    {% endif %}
{{ form_end(form) }}
