<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block site_title %}Hotels{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="p-10 bg-slate-50 space-y-4">
        <div class="container mx-auto p-10 bg-white shadow-sm rounded-md">
            {% block body %}{% endblock %}
        </div>
        <div class="text-sm text-center">&copy; {{ 'now'|date('Y') }} - Hotel Listing v0.1 </div>
    </body>
</html>
