{% extends 'base.html.twig' %}
{% trans_default_domain 'hotels' %}

{% block body %}
    <h1 class="mb-2 text-2xl text-slate-800 font-semibold"><a href="{{ path('app_hotels_index') }}"><span class="mr-2">🏨</span> {{ 'index.title'|trans }}</a></h1>
    <p class="mb-8 text-slate-600">{{ 'index.intro'|trans }}</p>
    {% include 'form/search_hotels_type.html.twig' %}
    <div id="hotels-list" class="opacity-30">
        {% if  hotels.list|length > 0 %}
            <ul class="space-y-2">
                {% for hotel in hotels.list %}
                    <li class="flex items-center gap-4 p-4 border border-slate-200 rounded-sm hover:bg-slate-50">
                        <h4 class="font-semibold"><a class="hover:text-sky-500" href="{{ path('app_hotels_view', {id: hotel.id}) }}">{{ hotel.name }}</a></h4>
                        <span class="inline-block py-1 px-2 text-xs text-sky-600 bg-sky-50 font-semibold">{{ hotel.types|join(' - ') }}</span>
                        <div class="ml-auto text-center">
                            {% include 'hotels/partials/_rating.html.twig' with {'stars': hotel.stars} %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="p-8 text-center text-slate-500">{{ 'index.not_found'|trans }}</p>
        {% endif %}
        {% if hotels.pagination is defined and hotels.pagination.numPages > 1 %}
            <ul class="flex items-center justify-end gap-2 mt-8">
                {% for num in 1..hotels.pagination.numPages %}
                    <li>
                        {% if num == hotels.pagination.page %}
                            <span class="inline-flex items-center justify-center w-10 h-10 border rounded-full bg-sky-500 text-white border-sky-50">{{ num }}</span>
                        {% else %}
                            <a
                                    class="inline-flex items-center justify-center w-10 h-10 border border-slate-200 rounded-full hover:bg-sky-50 hover:text-sky-500"
                                    href="{{ path('app_hotels_index', app.request.query.all|merge({page: num})) }}"
                            >
                                {{ num }}
                            </a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById('hotels-list').classList.remove('opacity-30');
        });

        document.addEventListener('turbo:load', function() {
            document.getElementById('hotels-list').classList.remove('opacity-30');
        });

        document.addEventListener('turbo:visit', function() {
            document.getElementById('hotels-list').classList.add('opacity-30');
        });
    </script>
{% endblock %}
