{% extends 'base.html.twig' %}
{% trans_default_domain 'hotels' %}

{% block body %}
    <div class="space-y-8">
        <div>
            <div class="flex max-md:flex-col items-center max-md:space-y-4 md:gap-6">
                <div class="flex max-sm:flex-col items-center gap-2 sm:gap-6">
                    <h1 class="text-2xl text-slate-800 font-semibold">{{ hotel.name }}</h1>
                    {% include 'hotels/partials/_rating.html.twig' with {'stars': hotel.stars} %}
                    <span class="inline-block py-1 px-2 text-xs text-sky-600 bg-sky-50 font-semibold">{{ hotel.types|join(' - ') }}</span>
                </div>
                <a class="md:ml-auto py-2 px-4 inline-block bg-sky-500 hover:bg-sky-400 text-sm text-white rounded-sm shadow" target="_blank" href="{{ hotel.website }}">{{ 'view.go_to_website'|trans }}</a>
            </div>
            <div class="flex max-lg:flex-col lg:items-center gap-4 lg:gap-8 py-4 text-xs text-slate-500 border-b border-slate-200">
                <div class="inline-flex items-center gap-2">
                    <svg class="w-4 h-4" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5 14.2864C3.14864 15.1031 2 16.2412 2 17.5C2 19.9853 6.47715 22 12 22C17.5228 22 22 19.9853 22 17.5C22 16.2412 20.8514 15.1031 19 14.2864M18 8C18 12.0637 13.5 14 12 17C10.5 14 6 12.0637 6 8C6 4.68629 8.68629 2 12 2C15.3137 2 18 4.68629 18 8ZM13 8C13 8.55228 12.5523 9 12 9C11.4477 9 11 8.55228 11 8C11 7.44772 11.4477 7 12 7C12.5523 7 13 7.44772 13 8Z" stroke="#64748b" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    {{ hotel.address }}
                </div>
                <div class="inline-flex items-center gap-2">
                    <svg class="w-4 h-4" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.1007 13.359L15.5719 12.8272H15.5719L16.1007 13.359ZM16.5562 12.9062L17.085 13.438H17.085L16.5562 12.9062ZM18.9728 12.5894L18.6146 13.2483L18.9728 12.5894ZM20.8833 13.628L20.5251 14.2869L20.8833 13.628ZM21.4217 16.883L21.9505 17.4148L21.4217 16.883ZM20.0011 18.2954L19.4723 17.7636L20.0011 18.2954ZM18.6763 18.9651L18.7459 19.7119H18.7459L18.6763 18.9651ZM8.81536 14.7266L9.34418 14.1947L8.81536 14.7266ZM4.00289 5.74561L3.2541 5.78816L3.2541 5.78816L4.00289 5.74561ZM10.4775 7.19738L11.0063 7.72922H11.0063L10.4775 7.19738ZM10.6342 4.54348L11.2346 4.09401L10.6342 4.54348ZM9.37326 2.85908L8.77286 3.30855V3.30855L9.37326 2.85908ZM6.26145 2.57483L6.79027 3.10667H6.79027L6.26145 2.57483ZM4.69185 4.13552L4.16303 3.60368H4.16303L4.69185 4.13552ZM12.0631 11.4972L12.5919 10.9654L12.0631 11.4972ZM16.6295 13.8909L17.085 13.438L16.0273 12.3743L15.5719 12.8272L16.6295 13.8909ZM18.6146 13.2483L20.5251 14.2869L21.2415 12.9691L19.331 11.9305L18.6146 13.2483ZM20.8929 16.3511L19.4723 17.7636L20.5299 18.8273L21.9505 17.4148L20.8929 16.3511ZM18.6067 18.2184C17.1568 18.3535 13.4056 18.2331 9.34418 14.1947L8.28654 15.2584C12.7186 19.6653 16.9369 19.8805 18.7459 19.7119L18.6067 18.2184ZM9.34418 14.1947C5.4728 10.3453 4.83151 7.10765 4.75168 5.70305L3.2541 5.78816C3.35456 7.55599 4.14863 11.144 8.28654 15.2584L9.34418 14.1947ZM10.7195 8.01441L11.0063 7.72922L9.9487 6.66555L9.66189 6.95073L10.7195 8.01441ZM11.2346 4.09401L9.97365 2.40961L8.77286 3.30855L10.0338 4.99296L11.2346 4.09401ZM5.73263 2.04299L4.16303 3.60368L5.22067 4.66736L6.79027 3.10667L5.73263 2.04299ZM10.1907 7.48257C9.66189 6.95073 9.66117 6.95144 9.66045 6.95216C9.66021 6.9524 9.65949 6.95313 9.659 6.95362C9.65802 6.95461 9.65702 6.95561 9.65601 6.95664C9.65398 6.95871 9.65188 6.96086 9.64972 6.9631C9.64539 6.96759 9.64081 6.97245 9.63599 6.97769C9.62634 6.98816 9.61575 7.00014 9.60441 7.01367C9.58174 7.04072 9.55605 7.07403 9.52905 7.11388C9.47492 7.19377 9.41594 7.2994 9.36589 7.43224C9.26376 7.70329 9.20901 8.0606 9.27765 8.50305C9.41189 9.36833 10.0078 10.5113 11.5343 12.0291L12.5919 10.9654C11.1634 9.54499 10.8231 8.68059 10.7599 8.27309C10.7298 8.07916 10.761 7.98371 10.7696 7.96111C10.7748 7.94713 10.7773 7.9457 10.7709 7.95525C10.7677 7.95992 10.7624 7.96723 10.7541 7.97708C10.75 7.98201 10.7451 7.98759 10.7394 7.99381C10.7365 7.99692 10.7335 8.00019 10.7301 8.00362C10.7285 8.00534 10.7268 8.00709 10.725 8.00889C10.7241 8.00979 10.7232 8.0107 10.7223 8.01162C10.7219 8.01208 10.7212 8.01278 10.7209 8.01301C10.7202 8.01371 10.7195 8.01441 10.1907 7.48257ZM11.5343 12.0291C13.0613 13.5474 14.2096 14.1383 15.0763 14.2713C15.5192 14.3392 15.8763 14.285 16.1472 14.1841C16.28 14.1346 16.3858 14.0763 16.4658 14.0227C16.5058 13.9959 16.5392 13.9704 16.5663 13.9479C16.5799 13.9367 16.5919 13.9262 16.6024 13.9166C16.6077 13.9118 16.6126 13.9073 16.6171 13.903C16.6194 13.9008 16.6215 13.8987 16.6236 13.8967C16.6246 13.8957 16.6256 13.8947 16.6266 13.8937C16.6271 13.8932 16.6279 13.8925 16.6281 13.8923C16.6288 13.8916 16.6295 13.8909 16.1007 13.359C15.5719 12.8272 15.5726 12.8265 15.5733 12.8258C15.5735 12.8256 15.5742 12.8249 15.5747 12.8244C15.5756 12.8235 15.5765 12.8226 15.5774 12.8217C15.5793 12.82 15.581 12.8183 15.5827 12.8166C15.5862 12.8133 15.5895 12.8103 15.5926 12.8074C15.5988 12.8018 15.6044 12.7969 15.6094 12.7929C15.6192 12.7847 15.6265 12.7795 15.631 12.7764C15.6403 12.7702 15.6384 12.773 15.6236 12.7785C15.5991 12.7876 15.501 12.8189 15.3038 12.7886C14.8905 12.7253 14.02 12.3853 12.5919 10.9654L11.5343 12.0291ZM9.97365 2.40961C8.95434 1.04802 6.94996 0.83257 5.73263 2.04299L6.79027 3.10667C7.32195 2.578 8.26623 2.63181 8.77286 3.30855L9.97365 2.40961ZM4.75168 5.70305C4.73201 5.35694 4.89075 4.9954 5.22067 4.66736L4.16303 3.60368C3.62571 4.13795 3.20329 4.89425 3.2541 5.78816L4.75168 5.70305ZM19.4723 17.7636C19.1975 18.0369 18.9029 18.1908 18.6067 18.2184L18.7459 19.7119C19.4805 19.6434 20.0824 19.2723 20.5299 18.8273L19.4723 17.7636ZM11.0063 7.72922C11.9908 6.7503 12.064 5.2019 11.2346 4.09401L10.0338 4.99295C10.4373 5.53193 10.3773 6.23938 9.9487 6.66555L11.0063 7.72922ZM20.5251 14.2869C21.3429 14.7315 21.4703 15.7769 20.8929 16.3511L21.9505 17.4148C23.2908 16.0821 22.8775 13.8584 21.2415 12.9691L20.5251 14.2869ZM17.085 13.438C17.469 13.0562 18.0871 12.9616 18.6146 13.2483L19.331 11.9305C18.2474 11.3414 16.9026 11.5041 16.0273 12.3743L17.085 13.438Z" fill="#64748b"/>
                    </svg>
                    {{ hotel.phone }}
                </div>
                <div class="inline-flex items-center gap-2">
                    <span>FAX</span>
                    {{ hotel.fax }}
                </div>
                <div class="inline-flex items-center gap-2">
                    <svg class="w-4 h-4" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4 7.00005L10.2 11.65C11.2667 12.45 12.7333 12.45 13.8 11.65L20 7" stroke="#64748b" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <rect x="3" y="5" width="18" height="14" rx="2" stroke="#64748b" stroke-width="2" stroke-linecap="round"/>
                    </svg>
                    <a class="hover:text-sky-500" href="mailto:{{ hotel.email }}">{{ hotel.email }}</a>
                </div>
            </div>
        </div>
        <div class="grid xl:grid-cols-2 2xl:grid-cols-3 gap-8">
            <div class="space-y-4">
                {% for imageId in hotel.images %}
                <img class="shadow rounded-sm" src="/images/hotels/{{ hotel.id }}/{{ imageId }}.jpg" alt="{{ hotel.name }}" />
                {% endfor %}
            </div>
            <div class="2xl:col-span-2 space-y-8">
                <div class="text-slate-600 text-sm font-normal">
                    {{ hotel.description|raw|nl2br }}
                </div>
                {% if hotel.services|length > 0 %}
                <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-2 p-4 text-xs text-zinc-400 bg-zinc-50">
                    <h5 class="mb-2 col-span-full uppercase text-slate-800 font-semibold">{{ 'view.services'|trans }}</h5>
                    {% for service in hotel.services %}
                    <div>{{ service }}</div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="pt-8 border-t border-slate-200">
            <button class="inline-flex items-center gap-2 hover:text-sky-500 group" onclick="window.history.back()">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                     class="w-6 h-6 group-hover:fill-sky-500" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
                <g>
                    <path d="M39.292,51.5H68c1.104,0,2-0.896,2-2s-0.896-2-2-2H39.043l8.045-7.855c0.781-0.781,0.781-1.952,0-2.733
                        s-2.048-0.734-2.828,0.047l-11.335,11.36c-0.375,0.375-0.586,0.896-0.586,1.426s0.211,1.045,0.586,1.42l11.336,11.337
                        c0.391,0.391,0.902,0.587,1.414,0.587s1.024-0.194,1.415-0.585c0.781-0.781,0.781-2.237,0-3.018L39.292,51.5z"/>
                    <path d="M84.446,49.756c0-18.448-15.009-33.457-33.457-33.457c-18.449,0-33.458,15.009-33.458,33.457
                        c0,18.449,15.009,33.458,33.458,33.458C69.438,83.214,84.446,68.205,84.446,49.756z M21.531,49.756
                        c0-16.242,13.215-29.457,29.458-29.457s29.457,13.215,29.457,29.457c0,16.243-13.214,29.458-29.457,29.458
                        S21.531,65.999,21.531,49.756z"/>
                </g>
            </svg>
                {{ 'view.return_to_listing'|trans }}
            </button>
        </div>
    </div>
{% endblock %}